{% load static %}
<div id="menu" class="menu-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                  منوی ما	
                </h2>
                    <p class="title-caption text-center">ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه. </p>
                </div>
                <div class="tab-menu">
                    <div class="slider slider-nav">
                        <div class="tab-title-menu">
                            <h2>پیش غذا</h2>
                            <p> <i class="flaticon-canape"></i> </p>
                        </div>
                        <div class="tab-title-menu">
                            <h2>غذای اصلی</h2>
                            <p> <i class="flaticon-dinner"></i> </p>
                        </div>
                        <div class="tab-title-menu">
                            <h2>دسر</h2>
                            <p> <i class="flaticon-desert"></i> </p>
                        </div>
                        <div class="tab-title-menu">
                            <h2>نوشیدنی</h2>
                            <p> <i class="flaticon-coffee"></i> </p>
                        </div>
                    </div>
                    <div class="slider slider-single">
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-01.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>نون گارلیک</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه
                                        </p>
                                    </div>
                                    <span class="offer-price">12,000 </span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-02.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>میکس سالاد</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">30,000 </span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-03.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>مرغ بیبی کیو</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">60,000 </span>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-04.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>پیتزای گوشت</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">60,000 </span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-05.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>مرغ با تیگا ماسالا</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">70,000 </span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-06.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>گوشت میتباس</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">50,000 </span>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-07.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>کیک با سس شکلات</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">16,000</span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-08.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>مرغ با ماسالا تیگا</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">18,000 </span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-09.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>کوکتل مخصوص</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">30,000</span>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-10.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>انواع نوشابه ها</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">20,000</span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-09.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>انواع کوکتل ها</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">30,000</span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{% static 'images/menu-item-thumbnail-08.jpg' %}" alt="" class="img-responsive">
                                    <div>
                                        <h3>انواع قهوه ها</h3>
                                        <p>
                                            ما بهترین‌ها را برای شما فراهم کرده‌ایم، از جمله غذاهایی با طعم‌های متنوع و خدماتی حرفه‌ای و دوستانه.
                                        </p>
                                    </div>
                                    <span class="offer-price">12,000</span>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>
                <!-- end tab-menu -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end menu -->